
.container-1{
    display:flex;
    grid-template-rows:auto auto 1fr;
    gap: var(--sm);
    max-width: 1400px;
}
.post___body-text{
    width: 19em;
    resize: none;
    outline: none;
    height: fit-content;
}
.create_post_arcticle{
    background-color:transparent;
    margin: 0 auto ;
    max-width:400px;
    min-width: 180px;
}
.btn_post-c{
    margin:0 auto;
    display:flex;
    align-items: center;
    height: var(--sm);
    background: #95A3B3;
    color:#222222;
    width: var(--xlg);
    border-radius:var(--radius--sm);
    
}

.post___body-text{
    background-color: transparent;
    border-bottom:0.5px dashed hsl(var(--accent2) /50%);
    line-height: 1.4;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #222222;
}
.post___body-text::placeholder{
    color:#222222;
}
.formFillArea{
    width: auto ;
    background-color: #4B4E6D;
    display:flex-inline;
    gap:5px;
    z-index:1;
    width: 20em;
}

.textare-inline-2c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 20em ;
}

