*{
    font-family: "Helvetica Neue",Helvetica,Arial;
}
form div input{
    border: 0 solid transparent;
    border-radius:5px;
    cursor: pointer;
    outline: none;
    font-size: 12px ;
}
form button{
    margin: 1em auto;
    display: flex;
    align-items: top;
    justify-content: center;
    border: 0 solid transparent;
    border-radius:5px;
    background-color: white;
}
.FormRegister{
    color: white;
    width: 15em;
    max-height: max-content;
    min-height: 20em;
    margin: 1em auto;
    border: 1px solid transparent;
    background: rgba(231, 231, 231, 0.129);
    border-radius:10px;
    box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.571);
}
form div{
    display: grid;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5em;
}
label{
    margin:auto;
}
.invalid ,
.cannot,
.required,
.minimum ,
.doesnt.match,
.email.allready.exsisting{
    text-shadow: 0 0 2px rgb(233, 72, 72), 0 0 3px rgb(233, 72, 72);
}
.user.has.created{
    text-shadow: 0 0 2px rgb(107, 233, 72), 0 0 3px rgb(107, 233, 72);
}
.btn.btn-ul{
    display: flex;
    align-items: start;
    justify-content: start;
    margin:85px auto;
}
.btn.btn-li{
    color: whitesmoke;
    display: inline;
    padding: 4px;
    font-size: 9px;
    cursor: pointer;
}
small {
    margin:auto;
    font-size: 10px;
}