.commented-containers{
    border-bottom: 1px solid rgba(0, 0, 0, 0.523);
    display:grid;
    border-radius: 5px;
    gap: 1px;
}
.commented-text{
    margin: auto;
    display: flex;
    width: 90%;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    background-color:transparent;
    overflow:hidden;
    -webkit-box-orient: vertical;
    resize: none;
}
.commented-ul{
    width:100%;
    height:100%;
    display: flex;
    gap:5px;
}
.commented-li{
    display: inline-flex;
    font-size: 1em;
}
.img-comment{
    width:3em;
    height:3em;
}
.commented-li:hover{
    cursor: pointer;
    width:max-content;
    height: max-content;
    background: #4B4E6D;
    border-radius:5px;
}
.comment-main{
    display: grid;
    gap:5px;
}
.comments{
    position: relative;
    border-radius: 30%;
    max-width: 100%;
    height: auto;
}
.comments.online {
    border: 2px solid rgb(163, 241, 45);
    box-shadow: inset 0 0 10px rgb(163, 241, 45);
}
.comments.offline {
    border:2px solid rgb(253, 55, 55);
    box-shadow: inset 0 0 10px rgb(253, 55, 55);
}
@media only screen and (max-width: 350px) {
    .commented-ul{
        font-size:10px;
    }
    .comments-online,
    .comments-offline{
        width:1em;
        height:1em;
    }
    .commented-containers{
        width: 12em;
        height: fit-content;
        margin: 0 auto;
    }
    .comments-likes,
    .comments-dislikes{
        font-size:6px;
    }

}
