.commented-containers{
    border-top: 1px solid rgba(0, 0, 0, 0.387);
    border-bottom: 1px solid rgba(0, 0, 0, 0.523);
    display:grid;
    border-radius: 1px;
}
.commented-text{
    background-color:transparent;
    resize: none;
    outline: none;
    width:100%;
    border-radius: 5px ;
}
.commented-ul{
    width:100%;
    height:100%;
    display: flex;
    gap:5px;
}
.commented-li{
    display: inline-flex;
    
    font-size: 1em;
}
.img-comment{
    width:3em;
    height:3em;
}
.commented-li:hover{
    cursor: pointer;
    width:max-content;
    height: max-content;
    background: #4B4E6D;
    border-radius:5px;
}
.comment-main{
    display: grid;
    gap:5px;
}
.comments-online {
    background-color:rgb(163, 241, 45);
    width:0.3em;
    height:0.3em;
    border-radius: 50%;
    margin-left: -0.5em;
    margin-top:0.3em;
}
.comments-offline {
    background-color:rgb(253, 55, 55);
    width:0.3em;
    height:0.3em;
    border-radius: 50%;
    margin-left: -0.5em;
    margin-top:0.3em;
}
@media only screen and (max-width: 350px) {
    .commented-ul{
        font-size:10px;
    }
    .comments-online,
    .comments-offline{
        width:1em;
        height:1em;
    }
    .commented-containers{
        width: 12em;
        height: fit-content;
        margin: 0 auto;
    }
    .comments-likes,
    .comments-dislikes{
        font-size:6px;
    }

}
